.App {
  text-align: center;
  overflow: hidden;
  height: 1920px;
  width: 1080px;
  position: relative;
}

.app-splash-text {
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  padding-top: 50px;
  color: white;
}

.app-splash-buttons {
  position: absolute;
  width: 100%;
  bottom: 300px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
}

.app-splash-button {
  display: flex;
  justify-content: flex-start;
  background-color: #fff;
  border-radius: 4px;
  padding: 16px 16px;
  font-weight: 500;
  font-size: 24px;
  box-shadow: 0px 3px 50px 2px rgba(255, 255, 255, 0.5);
}

.app-splash-button-icon {
  padding: 0px 16px;
}

.app-splash-button-text {
  padding: 0px 16px;
  margin: auto;
}

#arrowAnim {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  width: 15px;
  height: 15px;
  border: 5px solid;
  border-color: white transparent transparent white;
  transform: rotate(-135deg);
}

.arrowSliding {
  position: absolute;
  -webkit-animation: slide 4s linear infinite;
  animation: slide 4s linear infinite;
}

.delay1 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.delay2 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.delay3 {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(-6vw);
  }
  20% {
    opacity: 1;
    transform: translateY(-3vw);
  }
  80% {
    opacity: 1;
    transform: translateY(3vw);
  }
  100% {
    opacity: 0;
    transform: translateY(6vw);
  }
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(-6vw);
  }
  20% {
    opacity: 1;
    transform: translateY(-3vw);
  }
  80% {
    opacity: 1;
    transform: translateY(3vw);
  }
  100% {
    opacity: 0;
    transform: translateY(6vw);
  }
}

.app-face-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.app-face-camera {
  width: 100%;
  height: 100%;
  rotate: 90deg;
}

canvas {
  background-color: red;
  position: absolute;
}
